div {
	background-color:lightgrey;
}
body {
	background-color:blue;
}

li {
	color:green;
}

p.gold {
	color:green;
}

li.gra {
	color:blue;
}

p.grat {
	color:green;
}

div.NastestPurple {
	background-color:purple;
	font-size:100px;
}

h3 {
	color:orange;
	font-size:10px;
}